.country-container {
  padding: 2em 5em;
}

.country-title {
  font-size: 42px;
  color: grey;
}

.dates {
  font-size: 16px;
  color: grey;
  padding-left: 3rem !important;
  padding-top: 0 !important;
}

.close-column {
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  font-size: 28px;
  color: grey;
  cursor: pointer;
}

.close-icon:hover {
  color: black;
}

.day-title{
  font-size: 22px;
  padding-left: 1rem !important;
  padding-bottom: 0.5rem !important;
}

.day-subtitle {
  font-size: 18px;
  color: grey;
  padding-left: 3rem !important;
  padding-top: 0 !important;
}

.text {
  font-size: 18px;
  color: grey;
}

.info-column {
  text-align: right;
}

.info-column-day {
  font-size: 18px;
  color: #f98ac5;
  padding-bottom: 5px;
}

.info-column-text {
  font-size: 20px;
  color: grey;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 14px;
  }

  .country-container {
    padding: 2em 1.5em;
  }
}