.country-container {
  padding: 2em 0em;
}

.country-title {
  font-size: 52px;
  color: grey;
}

.dates {
  font-size: 20px;
  color: grey;
  padding-left: 3rem !important;
  padding-top: 0.5rem !important;
}

.day-title{
  font-size: 26px;
  /* padding-left: 1rem !important; */
  padding-bottom: 0.5rem !important;
  color: #f98ac5;
}

.day-subtitle {
  font-size: 22px;
  color: grey;
  padding-left: 2rem !important;
  padding-top: 0.5rem !important;
}

.text {
  font-size: 18px;
  color: grey;
}

.info-column {
  text-align: right;
}

.info-column-day {
  font-size: 18px;
  color: #f98ac5;
  padding-bottom: 5px;
}

.info-column-text {
  font-size: 20px;
  color: grey;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 14px;
  }

  .country-container {
    padding: 2em 1.5em;
  }
}