.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-header-item {
  display: inline-block;
  cursor: pointer;
  font-size: 22px;

  background-color: transparent;
  color: grey;

  padding: 1em;
}

.nav-header-item:hover {
  color: black;
}

.nav-header-item.selected {
  color: #f98ac5;
}

.nav-header-item.selected:hover {
  color: #b75d8d;
}

.nav-links {
  display: flex;
}
