.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-header-item {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;

  background-color: transparent;
  color: grey;

  padding: 1em;
}

.nav-header-item:hover {
  color: black;
}

.nav-links {
  display: flex;
}
