.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-header-item {
  display: inline-block;
  cursor: pointer;
  font-size: 22px;

  background-color: transparent;
  color: grey;

  padding: 1em;
}

.nav-header-item:hover {
  color: black;
}

.nav-header-item.selected {
  color: #f98ac5;
}

.nav-header-item.selected:hover {
  color: #b75d8d;
}

.nav-links {
  display: flex;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  /* //flex-direction: column; */
}

.mobile-button {
  margin: 20px 20px 5px !important;
  background-color: transparent !important;
}

.mobile-menu {
  display: flex !important;
  flex-direction: column;
}

.menu-button {
  background-color: transparent !important;
}

.menu-button-a {
  color: grey !important;
}