.home {
  text-align: center;
}

.home-title {
  background-color: white;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.navigation-button {
    display: inline-block;
    cursor: pointer;

    background-color: transparent;
    color: dark-grey;

    padding: 1em;
}

.navigation-button:hover {
    color: black;
}