.home {
  text-align: center;
}

.home-title {
  background-color: white;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.navigation-button {
  display: inline-block;
  cursor: pointer;
  font-size: calc(10px + 2vmin);

  background-color: transparent;
  color: grey;

  padding: 1em;
}

a.navigation-button:hover {
  color: #f98ac5;
}
