.country-container {
  padding: 2em 0em;
}

.ui.huge.header.country-title {
  font-weight: normal;
  font-size: 34px;
  padding-bottom: 0.5em;
}

.dates {
  font-size: 20px;
  color: grey;
  padding-left: 3rem !important;
  padding-top: 0.5rem !important;
}

.list {
  font-size: 16px !important;
}

.day-title{
  font-weight: normal !important;
}

.day-subtitle {
  font-size: 22px;
  color: grey;
  padding-left: 2rem !important;
  padding-top: 0.5rem !important;
}

.text {
  font-size: 18px;
  color: grey;
}

.info-grid {
  margin-bottom: 5rem !important;
}

.info-column {
  text-align: right;
  height: 100vh !important;

}

.info-column-day {
  font-size: 18px;
  color: #f98ac5;
  padding-bottom: 5px;

}

.info-column-text {
  font-size: 20px;
  color: grey;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 14px;
  }

  .country-container {
    padding: 2em 1.5em;
  }
}